= form_for @topic do |f|
  - if @topic.errors.any?
    #error_explanation
      %h2= "#{pluralize(@topic.errors.count, "error")} prohibited this topic from being saved:"
      %ul
        - @topic.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :user
    = f.text_field :user, class: 'form-control'
  .form-group
    = f.label :summary
    = f.text_field :summary, class: 'form-control'
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control'
  .form-group
    = f.label :prerequisites_detail
    = f.text_area :prerequisites_detail, class: 'form-control'
  .form-group
    = f.label :prerequisites_topic
    = f.collection_select(:prerequisites_topic_id, [Topic.new(title: 'None')] + Topic.all,
       :id, :title, {}, {class: 'form-control'})
  .form-group
    = f.label :passmark
    = f.number_field :passmark, class: 'form-control'
  %table.table.table-striped
    %thead
      %tr
        %th Question
        %th Option A
        %th Option B
        %th Option C
        %th Option D
        %th Answer
        %th Delete?
    %tbody
      = f.fields_for :questions do |ff|
        %tr
          %td.form-group
            = ff.text_field :title, class: 'form-control'
          %td.form-group
            = ff.text_field :option_a, class: 'form-control'
          %td.form-group
            = ff.text_field :option_b, class: 'form-control'
          %td.form-group
            = ff.text_field :option_c, class: 'form-control'
          %td.form-group
            = ff.text_field :option_d, class: 'form-control'
          %td.form-group
            = ff.select :answer, [['Choose one', nil],
               ['Option A', 'a'], ['Option B', 'b'], ['Option C', 'c'], ['Option D', 'd']], {}, {:class => 'form-control'}
          %td.checkbox
            - if ff.object.persisted?
              = ff.check_box :_destroy, class: 'form-control'
              = ff.label :_destroy

  .actions
    = f.submit 'Save', {:class => 'btn btn-info btn-lg'}
