%p#notice= notice

%p
  %b Title:
  = @topic.title
%p
  %b User:
  = @topic.user
%p
  %b Summary:
  = @topic.summary
%p
  %b Description:
  = @topic.description
%p
  %b Prerequisites detail:
  = @topic.prerequisites_detail
- unless @topic.prerequisites_topic.blank?
  %p
    %b Prerequisites topic:
    = link_to @topic.prerequisites_topic.title, @topic.prerequisites_topic

%p
  %b Passmark:
  = @topic.passmark

.questions
  = render @topic.questions

= link_to 'Edit', edit_topic_path(@topic)
\|
= link_to 'Back', topics_path
